{% extends "base.html" %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Total Price</th>
        <th scope="col">remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        {% comment %} <td>{{ item.product.id }}</td> {% endcomment %}
        <td><a href="{% url "orders:cart_remove" item.product.id %}"> remove </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<p>Total price : {{ cart.get_total_price }}</p>


<a href="{% url "orders:orders_create" %}" class="btn btn-primary">CheckOut</a>
{% endblock content %} 